/*-----------------------
Empty State
-----------------------*/

.empty-state{
  background-color: $grey-light;
  padding: 30px;

  .text-block{
    @include center;
    max-width: 400px;
    text-align: center;

    i{
      margin-bottom: 10px;
    }

    img{
      @include rem(margin-bottom, 10px);
      max-width: 100px;
      opacity: 0.5;
    }
  }
}
