/*-----------------------
Footer
-----------------------*/
footer{
  display: inline-block;
  //@include rem(padding, 40px 20px);
  text-align: center;

  width: 100%;

  p{ @include s-tiny; }

  .footer-block-container{
    display: inline-block;
    width: 100%;

    @include media($tablet){
      padding: 60px 40px;
    }
  }
}

/*-----------------------
Link List
-----------------------*/
.link-lists{
  position: relative;

  @include media($tablet-landscape){
    @include span-columns(6 of 12);
  }

  &:before{
    @include media($tablet-landscape){
      content:"";
      border-right: 1px solid $grey-light;
      height: 100%;
      position: absolute;
      right: 0px;
    }
  }
}

.link-list{
  text-align: left;
  padding: 20px 0px;

  @include media($tablet){
    margin-top: 0px;
    @include span-columns(6 of 12);
    @include omega(2n);
  }

  &:nth-child(1), &:nth-child(2){
    @include media($tablet){
      margin-top: 0px;
    }
  }

  &:not(:first-child){
    border-top: 1px solid $white-med;

    @include media($tablet){
      border: none;
    }
  }

  &.is-active{
    a.header-link:after{
      content: "–";
    }

    ul{
      display: inline-block;

      li a{
        display: inline-block;
        //padding: 10px 0px;
      }
    }
  }

  li{
    line-height: 1.8;
  }

  li{
    line-height: 20px;
  }

  a{
    font-weight: normal;
    text-decoration: none;
    @include s-small;

    &.header-link{
      p{
        font-weight: 900;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        @include s-small;
        display: inline-block;

        @include media($tablet){
          margin-bottom: 10px;
        }
      }

      &:after{
        content: "+";
        display: inline-block;
        float: right;
        font-size: 20px;

        @include media($tablet){
          display: none;
        }
      }
    }
  }

  ul{
    display: none;
    width: 100%;

    @include media($tablet){
      display: inline-block;
    }
  }
}

/*-----------------------
Link List
-----------------------*/
.company-details{
  position: relative;
  text-align: left;
  border-top: 1px solid $grey-light;
  padding-top: 30px;
  //margin-top: 30px;
  display: inline-block;
  width: 100%;

  @include media($tablet-landscape){
    border: none;
    margin: 0px;
    padding: 0px;
  }

  @include media($tablet-landscape){
    @include span-columns(5 of 12);
    @include shift(1);
  }

  img{
    margin-bottom: 15px;
    width: 150px;
  }

  p{
    @include s-base;
    line-height: 1.8;
  }

  ul{
    li{
      margin-top: 10px;

      a{
        font-weight: normal;
        text-decoration: none;

        i{
          margin: 0px 10px 0px -15px;
        }
      }

      &.phone{
        a{
          font-size: 25px;

          i{
            vertical-align: -17px;
          }
        }
      }
    }
  }
}

/*-----------------------
Additional Info
-----------------------*/
.additional-info-block-container{
  border-top: 1px solid $grey-light;
  padding: 20px 20px;
  max-width: 1120px !important;
  @include center;
  display: inline-block;

  @include media($tablet){
    text-align: left;
    margin: 0px auto 60px !important;
    padding: 30px 0px !important;
    width: calc(100% - 80px);
  }

  @include media($tablet-landscape) {
    margin: 0px auto 60px !important;
    padding: 30px 0px 0px !important;
    width: calc(100% - 80px);
  }

  a{
    text-decoration: none;
    font-weight: normal;
    @include s-small;
  }

  .important-details a, .important-details li{
    font-weight: 900;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    @include s-small;
    display: inline-block;
  }

  ul{
    li{
      display: inline-block;

      &:not(:last-child):after{
        content: "|";
        display: inline-block;
        margin: 0px 8px;
        padding: 0px 8px;
      }
    }
  }

  .text-block{
    @include media($tablet){
      display: inline-block;
      width: auto;
    }
  }

  img{
    margin-top: 20px;
    width: 140px;

    @include media($tablet){
      float: right;
      margin-top: 0px;
    }
  }
}

/*-----------------------
Social Media
-----------------------*/
.social-media{
  background-color: $white-med;
  @include rem(padding, 20px 20px);
  text-align: center;

  li{
    display: inline-block;
    @include transition(all 0.3s ease-in-out);
    opacity: 0.8;
    width: 20%;
    max-width: 100px;

    a{
      display: inline-block;
      width: 40px;

      @include media($tablet){
        width: 50px;
      }
    }

    a i{
      //width: 100px;
      margin: 0px;
    }

    &:hover{
      opacity: 1;
    }
  }
}