/*-----------------------
Grid Blocks
-----------------------*/
.grid-block-wrapper{
  ul{
    display: inline-block;
    width: 100%;
  }

  li{
    margin: 15px 0px;
    display: inline-block;

    img{
      display: inline-block;
      width: 100%;
    }

    .text-block{
      margin-top: 15px;

      h4{
        display: inline-block;
        margin-bottom: 20px;
      }

      p, a{
        font-size: 13.5px;
        line-height: 1.6;
      }

      div a{
        border-bottom: 1px solid $black-base;
        text-decoration: none;
        font-weight: normal;

        &:hover{
          border-color: $black-dark;
        }
      }

      ul li{
        //list-style: disc;
        //display: list-item;
        float: none;
        //margin: 0px 0px 5px 15px;
        width: 100%;
        margin: 0px;
        padding: 10px 0px;
        border-bottom: 1px solid $grey-light;
        font-size: 13.5px;
        line-height: 1.6;

        &:nth-child(even){
          //background-color: $white-light;
        }
      }
    }
  }

  //Columns
  &.five-columns{
    display: inline-block;
    width: 100%;

    li{
      @include media($tablet){
        @include span-columns(2.4 of 12);
        @include omega(5n);
      }
    }
  }

  &.four-columns{
    display: inline-block;
    width: 100%;

    li{
      @include media($tablet){
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($tablet-landscape){
        @include omega-reset(2n);
        @include span-columns(3 of 12);
        @include omega(4n);
      }
    }
  }

  &.three-columns{
    display: inline-block;
    width: 100%;

    li{
      @include media($tablet){
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($tablet-landscape){
        @include omega-reset(2n);
        @include span-columns(4 of 12);
        @include omega(3n);
      }
    }
  }

  &.two-columns{
    display: inline-block;
    width: 100%;

    .group{
      @include media($tablet){
        @include span-columns(6 of 12);
        @include omega(2n);
      }

      @include media($tablet-landscape){
        @include span-columns(5.5 of 12);
        @include omega(2n);
      }


      &:nth-child(2n){
        @include media($tablet-landscape){
          @include shift(1);
        }
      }

      .text-block{
        p, a{
          font-size: 16px;
          line-height: 1.8;
        }
      }

      h4{
        font-size: 31.5px;
      }
    }
  }

  //Types
  &.with-icons{
    display: block;

    li{
      img{
        width: 50px;
      }
    }
  }

  &.text-only, &.with-images{
    li{
      .text-block{
        h4{
          &:after{
            content:"";
            border-bottom: 3px solid $orange-base;
            width: 70px;
            display: block;
            margin-top: 15px;
          }
        }
      }
    }
  }

  //Colors
  &.blue{
    background-color: $blue-base;

    .text-block{
      h4, p, a{
        color: $white-base;
      }
    }
  }

  &.orange{
    background-color: $orange-base;

    .text-block{
      h4, p, a{
        color: $white-base;
      }
    }

    &.text-only{
      li{
        .text-block{
          h4{
            &:after{
              border-bottom: 3px solid $white-base;
            }
          }
        }
      }
    }
  }

  &.grey{
    background-color: $white-light;
  }
}

/*-----------------------
Large Image Blocks
-----------------------*/
.large-image-block-wrapper{
  li{
    @include media($tablet){
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
    }

    &:not(:first-child){
      margin-top: 50px;
      padding-top: 50px;
      border-top: 1px solid $white-med;
    }

    img{
      margin-bottom: 30px;

      @include media($tablet){
        @include span-columns(6 of 12);
        margin-bottom: 0px;
      }
    }

    .text-block{
      @include media($tablet){
        @include span-columns(5.5 of 12);
        @include shift(0.5);
      }

      h3{
        &:after{
          content:"";
          border-bottom: 3px solid $orange-base;
          width: 70px;
          display: block;
          margin-top: 15px;
        }
      }

      a{
        margin-top: 10px;
        min-width: 170px;
      }
    }

    &.image-right{
      img{
        @include media($tablet){
          float: right;
        }
      }

      .text-block{
        @include media($tablet){
          float: left;
        }
      }
    }

    .image-right{

    }
  }
}

/*-----------------------
Quote Wrapper
-----------------------*/
.quote-wrapper{
  .inner-block-container{
    @include center;
    max-width: 850px;
  }

  .text-block{
    border-left: 10px solid $orange-base;
    padding-left: 30px;
  }

  blockquote{
    font-size: 30px;
    line-height: 47px;
  }

  cite{
    display: inline-block;
    margin-top: 20px;
  }

  &.blue{
    background-color: $blue-base;

    blockquote, cite{
      color: $white-base;
    }
  }

  &.orange{
    background-color: $orange-base;

    .text-block{
      border-color: $white-base;
    }

    blockquote, cite{
      color: $white-base;
    }
  }

  &.grey{
    background-color: $white-light;
  }
}