[class*=-icon]{
  display: inline-block;
  //margin-right: 10px;
  vertical-align: middle;

  &.orange-icon{
    background-position: bottom;

    &.circular{
      border-radius: 20em;
      background-color: $white-base;
      padding: 5px;
    }
  }

  &.white-icon{
    background-position: center;

    &.circular{
      border-radius: 20em;
      background-color: $orange-base;
      padding: 5px;
    }
  }
}

@mixin icon-set($height: 30px, $width: 30px){
  background-size: ($width * 3) ($width * 1);
  height: $height;
  width: $width;
}

$icon-sizes: (
  xsmall 20px,
  small  30px,
  medium 50px,
  large  60px,
  xl     100px
);

@each $icon-size in $icon-sizes{
  $size-name: nth($icon-size, 1);
  $size:      nth($icon-size, 2);

  .facebook-icon-#{$size-name}{
    background: url('../images/social-media/facebook.svg') no-repeat top;
  }

  .twitter-icon-#{$size-name}{
    background: url('../images/social-media/twitter.svg') no-repeat top;
  }

  .google-icon-#{$size-name}{
    background: url('../images/social-media/google.svg') no-repeat top;
  }

  .linkedin-icon-#{$size-name}{
    background: url('../images/social-media/linkedin.svg') no-repeat top;
  }

  .youtube-icon-#{$size-name}{
    background: url('../images/social-media/youtube.svg') no-repeat top;
  }


  .chat-icon-#{$size-name}{
    background: url('../images/icons/chat.svg') no-repeat top;
  }

  .location-icon-#{$size-name}{
    background: url('../images/icons/location.svg') no-repeat top;
  }

  .phone-icon-#{$size-name}{
    background: url('../images/icons/phone.svg') no-repeat top;
  }

  .search-icon-#{$size-name}{
    background: url('../images/icons/search.svg') no-repeat top;
  }

  [class*=-icon-#{$size-name}]{
    @include icon-set($width: $size, $height: $size);
    background-size: 100%;
  }
}