.pagination{
  display: table;
  @include rem(margin, 20px auto 0px);
  @include rem(padding, 2px 2px 3px 1px);

  li{
    float: left;
    @include rem(margin, 0 4px 0 0);
    font-weight: normal;

    &:last-child{
      margin: 0;
    }

    a{
      @include s-medium;
      font-weight: normal;
      line-height: 1.5;

      &:hover{
        color: $orange-base;
      }
    }

    &.active a,
    a:active {
      background-color: $orange-base;
      color: $white-base;
      border-radius: 4px;

      &:hover{
        color: $white-base;
      }
    }


    .delimeter{
      display: block;
      @include rem(padding-top, 6px);
    }
  }

  a{
    border-radius: 2px;
    //color: $grey-base;
    float: left;
    height: 35px;
    @include rem(padding, 4px 10px);
    text-decoration: none;
    text-align: center;
    width: 35px;
  }

  .next a{
    width: auto;

    &:after{
      background: url('../images/icons/right-arrow.svg') no-repeat;
      background-position: top;
      background-size: 100%;
      content:"";
      display: inline-block;
      height: 20px;
      @include transition(all 0.3s ease-in-out);
      margin-left: 10px;
      width: 20px;
      vertical-align: sub;
    }

    &:hover{
      &:after{
        background-position: bottom;
      }
    }
  }

  .prev a{
    width: auto;

    &:before{
      background: url('../images/icons/right-arrow.svg') no-repeat;
      background-position: top;
      background-size: 100%;
      content:"";
      display: inline-block;
      height: 20px;
      @include transition(all 0.3s ease-in-out);
      @include transform(scaleX(-1));
      margin-right: 10px;
      width: 20px;
      vertical-align: sub;
    }

    &:hover{
      &:before{
        background-position: bottom;
      }
    }
  }
}