/*-----------------------
Step Blocks
-----------------------*/
.step-blocks{

  @include center;
  max-width: 800px;

  li{
    counter-increment: step-counter;
    display: inline-block;
    margin-top: 50px;
    width: 100%;

    .image-block{
      @include span-columns(4 of 12);
      position: relative;

      img{
        border-radius: 20em;
      }

      &:after{
        content: counter(step-counter);
        background-color: $orange-base;
        color: $white-base;
        display: inline-block;
        height: 70px;
        width: 70px;
        border: 10px solid $white-base;
        border-radius: 20em;
        @include position(absolute, null 0px 0px null);
        font-weight: bold;
        text-align: center;
        @include s-big;
        line-height: 2.5;
      }
    }

    .text-block{
      @include span-columns(7.5 of 12);
      @include shift(0.5);
    }

    &:nth-child(even){
      .image-block{
        float: right;
        @include shift(0.5);
      }

      .text-block{
        @include shift(0);
      }
    }
  }
}

.note-block{
  border-top: 1px solid $white-med;
  margin-top: 50px;
  padding-top: 50px;
}